
.form {
  margin: 10px;
  text-align: center;
  align-self: center;
  width: 100%;
}

.form__paragraph {
  font-size: 15px;
  color: #444;
}

.form__labelText {
  display: inline-block;
  text-transform: uppercase;
  padding: 5px 10px;
  font-size: 20px;
}

.form__span {
  font-size: 10px;
  color: #555;
}

.form__field,
.form__select {
  padding: 5px;
  border-radius: 10px;
  border: solid 2px #888;
}

.form__button {
  display: inline-block;
  background-color: hsl(41, 56%, 62%);
  text-transform: uppercase;
  padding: 10px;
  border: solid 3px black;
  border-radius: 10px;
  margin-top: 20px;
}

.form__button:hover {
  cursor: pointer;
  background-color: hsl(41, 56%, 65%);
}

.form__button:active {
  background-color: hsl(41, 56%, 70%);
}

.form__fieldset {
  border: solid 4px black;
  background-color: peachpuff;
  border-radius: 10px;
}

.form__legend {
  font-size: 30px;
  background-color: hsl(41, 56%, 62%);
  padding: 5px 15px;
  border: solid 4px black;
  border-radius: 10px;
}

.form__result {
  font-size: 30px;
  margin: 10px;
}
